div.userCreate{
    display: flex;
    justify-items: center;
    padding: 0 0 20px 0;
}
div.userCreate p{
    margin-bottom: 0;
    font-size: 12px;
    margin-left: 5px;
    line-height: 16px;
}
div.contentDescription{
    padding-top: 40px;
}
div.contentDescription > ol,div.contentDescription > ul{
    margin-left: 15px;
}